<div class="btn-group">
	{{#unless (eq index 0)}}
	<button class="btn btn-sm btn-success" disabled={{updatingOrder}} {{action "order" "up" index model}}>
		<span class="glyphicon glyphicon-chevron-up"></span>
	</button>
	{{/unless}}
	
	{{#unless isLast}}
	<button class="btn btn-sm btn-danger" disabled={{updatingOrder}} {{action "order" "down" index model}}>
		<span class="glyphicon glyphicon-chevron-down"></span>
	</button>
	{{/unless}}
</div>