<div class="map-wrapper" style="position: relative; height: 0; overflow: hidden; padding-bottom: 75%;">
	<iframe
		style="position: absolute; top: 0; left: 0; width: 100% !important; height: 100% !important; border:0;"
	  width="600"
	  height="450"
	  frameborder="0"
	  src="{{mapUrl}}" allowfullscreen>
	</iframe>
</div>