<div class="app-list">
	
	{{yield}}
	
	<div class="table-wrap" class={{tableWrapClass}}>
		<div class="box table-box">
			<div class="box-header with-border" style="min-height: 42px;">
				<div class="actions">
					
				</div>

				{{#if searchForm}}
				<div class="box-tools">
		      <div class="input-group" style="width: 150px;">
		        <input type="text" name="table_search" class="form-control input-sm pull-right" placeholder="Search">
		        <div class="input-group-btn">
		          <button class="btn btn-sm btn-default">
		          	<i class="glyphicon glyphicon-search"></i>
		          </button>
		        </div>
		      </div>
		    </div>
				{{/if}}

			</div>

			<div class="box-body table-responsive no-padding">
				{{component itemsComponent columns=columnList models=models actionColumnComponent=actionColumnComponent}}
			</div>
		</div> <!-- ./ .table-box -->

		<div class="pager-wrap">
			{{page-numbers content=models currentPage=page totalPages=totalPages}}
		</div>
	</div>

</div>

